<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='dashboard.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='profile.css') }}">



</head>
<body>
    <div>

        <input type="checkbox" id="check">
        <label for="check">
          <i class="fas fa-bars" id="btn"></i>
          <i class="fas fa-times" id="cancel"></i>
        </label>
        <div class="sidebar">
        <header>Fitness Tracker</header>
        <ul>
         <li><a href="/dashboard"><i class="fas fa-qrcode"></i>Dashboard</a></li>
         <li><a href="/workoutHistory"><i class="fas fa-link"></i>Workout History</a></li>
         <li><a href="/calculator"><i class="fas fa-stream"></i>Macro Calculator</a></li>
         <li><a href="/favourites"><i class="fas fa-calendar-week"></i>Favourites</a></li>
        </ul>
       </div>
    </div>
    <h1>your profile</h1>
    <a href="/logout">log out</a>
    <div class="container">
        <div class="main-body">       
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                       
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Full Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <p>{{loggedUser.first_name}} {{loggedUser.last_name}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Email</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{loggedUser.email}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Age</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{loggedUser.age}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Height</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{loggedUser.height}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Weight</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{loggedUser.weight}}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          <a class="btn btn-info " target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                        </div>
                      </div>
                    </div>
                  </div>
    

                </div>
              </div>
    
            </div>
        </div>
</body>
</html>