<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0-beta3/css/all.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='sidebar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='workoutHistory.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <h1>Workout History</h1>
    <div class="container">

        <div class="sidebar-container">
    
            <input type="checkbox" id="check">
            <label for="check">
              <i class="fas fa-bars" id="btn"></i>
              <i class="fas fa-times" id="cancel"></i>
            </label>
            <div class="sidebar">
            <header>Fitness Tracker</header>
            <ul>
             <li><a href="/profile">Profile</a></li>
             <li><a href="/dashboard">Dashboard</a></li>
             <li><a href="/calculator">Macro Calculator</a></li>
             <li><a href="/favourites">Favourites</a></li>
             <li><a href="/logout">Log Out</a></li>

            </ul>
           </div>
        </div>
        {% for item in workout%}
       <div class="workout-item">
        <a href="/add_to_favourites/{{ item.id }}">Add to Favourites</a>
        DATE: {{item.time}}     
           </p>
           <p class="p2">
               <b>Workout Name:</b> {{item.wname}}
           </p>
           <p class="p3">
<b>Details:</b> {{item.description}}
           </p>
        </div>
        {% endfor %}
    </div>
    </body>
</html>